<div style="margin-left: 1rem; margin-right: 1rem; margin-top: 5rem;">
</div>

<div class="container">
    <div class="row" style="margin-bottom: 1rem;">
        <h3>Listado de Clientes</h3>
    </div>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Codigo Cliente</th>
          <th>Nombre Cliente</th>
          <th>Email</th>
          <th>Numero CI/NIT</th>
          <th>Tipo Documento</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="this.clientsList.length; else noData">
          <tr *ngFor="let client of this.clientsList">
            <td>{{ client.codigo_cliente }}</td>
            <td>{{ client.nombre_cliente }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.numero_ci_nit }}</td>
            <td>{{ client.tipo_documento }}</td>
          </tr>
        </ng-container>
        <ng-template #noData>
          <tr>
            <td colspan="5">No hay clientes registrados.</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
</div>