<div style="margin-left: 1rem; margin-right: 1rem; margin-top: 5rem;"></div>

<div class="container">
    <div class="row" style="margin-bottom: 1rem;">
        <h3>Listado de Ventas</h3>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Codigo Venta</th>
                <th>Almacen</th>
                <th>Cliente</th>
                <th>Condicion Pago</th>
                <th>Tipo Entrega</th>
                <th>Tipo Venta</th>
                <th>Descuento</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="sellsList.length; else noData">
                <tr *ngFor="let sell of sellsList">
                    <td>{{ sell.codigo_venta }}</td>
                    <td>{{ sell.almacen.nombre_almacen }}</td>
                    <td>{{ sell.cliente.nombre_cliente }}</td>
                    <td>{{ sell.condicion_pago.descripcion_condicion_pago }}</td>
                    <td>{{ sell.tipo_entrega }}</td>
                    <td>{{ sell.tipo_venta }}</td>
                    <td>{{ sell.descuento }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="verDetalle(sell.codigo_venta, sell.descuento)">Ver detalle</button>
                    </td>
                </tr>
            </ng-container>
            <ng-template #noData>
                <tr>
                    <td colspan="7">No hay ventas registradas.</td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>
<br>
<div class="container">
    <h4 style="margin-bottom: 1rem;">Detalle de Venta</h4>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Codigo Venta</th>
                <th>Codigo Producto</th>
                <th>Nombre Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Descuento</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="this.sellsDetailsList.length; else noDataDetail">
                <tr *ngFor="let sellDetail of this.sellsDetailsList">
                    <td>{{ sellDetail.codigo_venta }}</td>
                    <td>{{ sellDetail.codigo_producto }}</td>
                    <td>{{ sellDetail.nombre_producto }}</td>
                    <td>{{ sellDetail.cantidad }}</td>
                    <td>{{ sellDetail.precio_unitario }}</td>
                    <td>{{ sellDetail.descuento }}</td>
                    <td>{{ sellDetail.subtotal }}</td>
                </tr>
            </ng-container>
            <ng-template #noDataDetail>
                <tr>
                    <td colspan="7">Selecciona una venta para ver su detalle.</td>
                </tr>
            </ng-template>
        </tbody>
    </table>
    <div  style="display: flex; justify-content: space-between;">
        <h5>Total = {{this.totalVenta}}</h5>
    </div>
</div>